{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Contact_detail</title>
    <meta name="description" content="">
    <meta name="keywords" content="">


    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="container position-relative d-flex align-items-center">
        <nav id="navmenu" class="navmenu">
            <ul>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li class="dropdown"><a href="{%url 'about'%}"><span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a></li>
            <li><a href="{%url 'services'%}">Services</a></li>
            <li><a href="{%url 'portfolio'%}">Portfolio</a></li>
            <li><a href="{%url 'pricing'%}">Pricing</a></li>
            <li><a href="{%url 'blog' %}">Blog</a></li>
            <li><a href="{%url 'contact'%}" class="active">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="page-title accent-background">
            <h1>Contact List</h1>
            <h5>상세페이지</h5>
        </div>

        <!-- 상세 정보 테이블 -->
        <table class="contact-table">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ contact.name }}</a></td>
                    <td>{{ contact.email }}</a></td>
                    <td>{{ contact.subject }}</a></td>
                </tr>
            </tbody>
        </table>
        <!-- 내용 표시 -->
        <div class="content-box">
            <h5>{{ contact.created_at }}</h5>
            <p>{{ contact.message }}</p>
        </div>
        <div class="button-container">
            <div class="button-previous">
                <a href="{% url 'contact_list' %}">이전</a>
            </div>
            <div class="button-edit">
                <a href="{% url 'contact_edit' contact.id %}">수정하기</a>
            </div>
            <div class="button-delete">
                <a href="{%url 'contact_delete' contact.id %}">삭제하기</a>
            </div>
        </div>
    </div>
</body>
</html>